@import '../../../styles/variables.scss';

.root {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  height: 80vh;
  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
    height: 100%;
  }
}
.textBlock {
  width: 50%;
  margin-bottom: 10px;
  @media (max-width: 768px) {
    width: 100%;
  }
}
.heading {
  @include font(clamp(1.5rem, 0.875rem + 2vw, 2rem), $semi, $white);
  margin-bottom: 32px;
}
.highlight {
  color: $secondary;
}

.currentWork {
  position: absolute;
  right: 5%;
  bottom: 0;
  border: 1px solid $gray;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  @include font(clamp(0.75rem, 0.4375rem + 1vw, 1rem), $medium, $gray);
  @media (max-width: 768px) {
    position: static;
    margin: 10px auto;
  }
}
.ico {
  background-color: $secondary;
  border: 2px solid $gray;
  width: 16px;
  height: 16px;
  margin: auto 10px;
}
.current {
  color: $gray;
}
.currentHighlight {
  @include font(clamp(0.75rem, 0.4375rem + 1vw, 1rem), $semi, $white);
}

.logo {
  width: 300px;
  margin-right: 70px;
  @media (max-width: 768px) {
    margin: 0 auto;
    width: 200px;
  }
}
