@import '../../styles/variables.scss';

.root {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  position: relative;
}
.view,
.back {
  margin-left: auto;
  padding-left: 10px;
  font-size: clamp(0.625rem, 0.1563rem + 1.5vw, 1rem);
  text-align: center;
}
.view:hover,
.back:hover {
  color: $secondary;
}
.heading {
  margin-right: 16px;
  @include font(clamp(1.5rem, 0.875rem + 2vw, 2rem), $medium, $white);
}
.line {
  margin-left: 0;
  width: 30%;
  height: 1px;
  background-color: $secondary;
}
