@import 'variables.scss';

.about__heading {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  .heading__link {
    background-color: $maincolor;
    border: none;
    @include font(16px, $medium, $white);
    &:hover {
      text-decoration: underline;
    }
  }
}
