@import 'variables.scss';
.about {
  padding-top: 64px;
  margin-bottom: 112px;
  .about__heading {
    margin-bottom: 23px;
  }
  .about__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .about__text {
      width: 50%;
      .about__article {
        margin-bottom: 27px;
        @include font(16px, $reg, $gray);
      }
    }
    .about__image {
      max-width: 50%;
    }
  }
}
