@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 400;
  src: local('Inter'), url('/fonts/Tektur/Tektur-Regular.ttf') format('ttf');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 500;
  src: local('Inter'), url('/fonts/Tektur/Tektur-Medium.ttf') format('ttf');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 600;
  src: local('Inter'), url('/fonts/Tektur/Tektur-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: 'Tektur';
  font-style: normal;
  font-weight: 700;
  src: local('Inter'), url('/fonts/Tektur/Tektur-Bold.ttf') format('ttf');
}
