@import 'variables.scss';

header {
  position: sticky;
  top: 0;
  background-color: $maincolor;
  z-index: 9;
  .header__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-bottom: 16px;
    img {
      width: 30px;
    }
  }
}
.header__wrapper {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 16px;
  margin-bottom: 62px;
}

.nav__list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  .nav__item {
    @include font(16pt, $medium, $gray);
  }
}

a {
  text-decoration: none;
  &:link,
  &:visited {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    color: $gray;
  }
}
