@import 'variables.scss';

.home {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
  position: relative;
  height: 80vh;
  .home__text {
    width: 50%;
    .home__heading {
      @include font(32px, $semi, $white);
      margin-bottom: 32px;
      .text__highlight {
        color: $secondary;
      }
    }
    .home__article {
      color: $gray;
      margin-bottom: 24px;
    }
  }
  .current {
    position: absolute;
    right: 5%;
    bottom: 0;
    border: 1px solid $gray;
    display: flex;
    flex-direction: row;
    padding: 5px;
    @include font(16px, $medium, $gray);
    .current__ico {
      background-color: $secondary;
      border: 2px solid $gray;
      width: 16px;
      height: 16px;
      margin: auto 10px;
    }
    .current__highlight {
      @include font(16px, $semi, $white);
    }
  }
  .home__logo {
    position: absolute;
    right: 10%;
    top: 15%;
    z-index: -1;
    width: 300px;
  }
}
