@import 'variables.scss';
html {
  scroll-behavior: smooth;
}
body {
  background-color: $maincolor;
  font-family: $ff;
  color: white;
  main,
  footer {
    max-width: 1024px;
    margin: 0 auto;
  }
  @media (max-width: 1200px) {
    padding-right: 5%;
    padding-left: 5%;
  }
}

a {
  text-decoration: none;
}

.border-line {
  height: 1px;
  width: 100%;
  background-color: $gray;
}

/*===   Переиспользуемые элементы   ===*/
//Дизайн кнопок
.primary-btn {
  background-color: $maincolor;
  cursor: pointer;
  border: 1px solid $secondary;
  color: $white;
  padding: 8px 16px;
  font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);
  font-weight: $medium;
  a {
    color: $white;
  }
  &:hover {
    background-color: $secondary;
  }
}
a {
  color: $white;
}
.secondary-btn {
  background-color: $maincolor;
  cursor: pointer;
  border: 1px solid $gray;
  color: $white;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: $medium;

  &:hover {
    background-color: $gray;
  }
}
//Дизайн хэштега
.tag {
  color: $secondary;
}
//Дизайн линии
.line {
  margin-left: 0;
  width: 60%;
  height: 1px;
  background-color: $secondary;
}
//Дизайн заголовков
.heading {
  margin-right: 16px;
  @include font(32px, $medium, $white);
}
.headings {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
