@import 'variables.scss';
.project {
  border: 1px solid $gray;
  display: flex;
  flex-direction: column;
  width: 32%;
  .project__image {
    width: 100%;
    height: 200px;
    opacity: 20%;
    &:hover {
      opacity: 100%;
    }
  }
  .project__stack {
    padding: 8px;
    border-bottom: 1px solid $gray;
    @include font(16px, $reg, $gray);
  }
  .project__info {
    padding: 16px;
    .project__name {
      @include font(24px, $medium, $white);
      margin-bottom: 16px;
    }
    .project__overview {
      @include font(16px, $reg, $gray);
      margin-bottom: 16px;
    }
    .project__buttons {
      display: flex;
      flex-direction: row;
      gap: 16px;
    }
  }
}
