//Палитра цветов
$maincolor: #000000;
$secondary: #a7d129;
$white: #ffffff;
$gray: #abb2bf;

//Семейство шрифта
$ff: 'Tektur', cursive;

//Тип шрифта
$reg: 400;
$medium: 500;
$semi: 600;
$bold: 700;

//Настройка шрифта
@mixin font($fs, $fw, $col) {
  font-size: $fs;
  font-weight: $fw;
  color: $col;
}
