@import '../../../styles/variables.scss';

.header {
  position: sticky;
  top: 0;
  background-color: $maincolor;
  z-index: 9;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
  }
}
.wrapper {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
  margin-bottom: 62px;
}
