@import '../../../styles/variables.scss';

.root {
  padding-top: 64px;
  margin-bottom: 112px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.article {
  margin-bottom: 27px;
  @include font(16px, $reg, $white);
}
