@import '../../styles/variables.scss';

.list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  @media (max-width: 768px) {
    display: none;
  }
}
.item {
  @include font(16pt, $medium, $gray);
}

.link {
  text-decoration: none;
  &:link,
  &:visited {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    color: $gray;
  }
}

.languageBtn {
  background-color: $maincolor;
  border: none;
  color: $gray;
  cursor: pointer;
  &:hover {
    color: $white;
  }
}
.languageBtn_active {
  color: $secondary;
}
