@import '../../styles/variables.scss';

.list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  @media (max-width: 768px) {
    display: none;
  }
}
.item {
  @include font(16pt, $medium, $gray);
}

.link {
  text-decoration: none;
  &:link,
  &:visited {
    text-decoration: none;
    color: $white;
  }
  &:hover {
    color: $gray;
  }
}
